<!-- <mat-sidenav-container class="container" fullscreen>
  <mat-sidenav #sidenav class="sidenav" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <button mat-icon-button (click)="isExpanded = !isExpanded">
          <mat-icon *ngIf="!isExpanded">chevron_right</mat-icon>
          <mat-icon *ngIf="isExpanded">chevron_left</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item routerLink="./list">
        <mat-icon mat-list-icon>home</mat-icon>
        <p matLine *ngIf="isExpanded">Home</p>
      </mat-list-item>

      <mat-list-item routerLink="./search">
        <mat-icon mat-list-icon>search</mat-icon>
        <p matLine *ngIf="isExpanded">Search Heroe</p>
      </mat-list-item>

      <mat-list-item routerLink="./create">
        <mat-icon mat-list-icon>add</mat-icon>
        <p matLine *ngIf="isExpanded">Add new Heroe</p>
      </mat-list-item>

      <mat-list-item routerLink="./edit">
        <mat-icon mat-list-icon>edit</mat-icon>
        <p matLine *ngIf="isExpanded">Edit a Heroe</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>logout</mat-icon>
        <p matLine *ngIf="isExpanded">Logout</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container> -->

<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar>
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./list" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>home</mat-icon>
        <span>Home</span>
      </a>

      <a routerLink="./search" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>search</mat-icon>
        <span>Search</span>
      </a>

      <a routerLink="./add" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>add</mat-icon>
        <span>Add</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <h1>HeroesApp</h1>

    <span class="spacer"></span>

    <button mat-button>
      <mat-icon mat-list-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
