<nav aria-label="Gif pagination" *ngIf="hasDataLoad">
  <ul class="pagination pagination-lg justify-content-center">
    <!-- Previous -->
    <li
      aria-label="Previous page"
      class="page-item"
      [ngClass]="{
        disabled: pagination.offset === 0
      }"
    >
      <a class="page-link" (click)="setSelectorValue(-1)">
        <span aria-hidden="true">«</span>
      </a>
    </li>

    <!-- Current Page -->
    <li class="page-item">
      <a class="page-link">{{ pagination.offset }}</a>
    </li>

    <!-- Next page -->
    <li
      aria-label="Previous page"
      class="page-item"
      [ngClass]="{
        disabled: pagination.offset > pagination.total_count - 1
      }"
    >
      <a class="page-link" (click)="setSelectorValue(+1)">
        <span aria-hidden="true">»</span>
      </a>
    </li>
  </ul>
</nav>
